@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.montserrat-logo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.text-color{
  color:#030712;
  text-decoration: underline;
}

.bg{
  /* background-color: #030712; */
  background-color: #37517e;
  /* background-color: #ef8172; */
}
/* #ff4c68 */

.hover:hover{
  background-color: #9195F6;
  color: white;
}
.text_hover:hover{
  background-color: #e84545;
  color: white;
}
.border-none{
  /* border: 1px solid red */
  padding-top: 10px;
}
.icon_hover:hover{
  transform: translate(20px,0);
  background-color:  #030712;
  color: aliceblue;
  border-radius: 2px;
  padding: 10px;
  /* width: 150px; */
}
.curve{
  border-radius: 20px;
}
.carousel{
  height: 400px;
} 
 .carousel-inner {
  height: 100%;
}
.temp{
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.carousel-item{
  /* border: 1px solid red; */
  height: 100%;
  text-align: center;
  
}

.c_center{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.sevice_bg{
  background-color: #f4f4f3;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header{
  /* height: 100%; */
  width: 100%;
}
.he{
  height: 700px;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}


.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}



.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: typing 2.5s steps(10, end) forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}